<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZZZIFOX.Settings.Translateset" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZZZIFOX.Settings.NewCopy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZZZIFOX.Settings.Translateset>
            <setting name="MBString" serializeAs="String">
                <value>中文</value>
            </setting>
            <setting name="FYString" serializeAs="String">
                <value>自动识别</value>
            </setting>
            <setting name="modeoneone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="modetwoone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="distance" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value />
            </setting>
            <setting name="modeonetwo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modetwotwo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ztstyle" serializeAs="String">
                <value>False</value>
            </setting>
        </ZZZIFOX.Settings.Translateset>
        <ZZZIFOX.Settings.NewCopy>
            <setting name="TextString" serializeAs="String">
                <value>1*1000,2*2000</value>
            </setting>
        </ZZZIFOX.Settings.NewCopy>
    </userSettings>
</configuration>